<div class="inputs">
  <label>
    <span>Monthly Income</span>
    <input placeholder="4000" type="number" [(ngModel)]="userDetails.monthly">
  </label>
  <label>
    <span>Expenses</span>
    <input placeholder="500" type="number" [(ngModel)]="userDetails.expenses">
  </label>
  <label>
      <span>Purchase Item</span>
      <input placeholder="150" type="number" [(ngModel)]="userDetails.price">
  </label>
  <!-- <label>
    <span>Test Input</span>
    {{test}}
    <input placeholder="150" type="range" max="50" [(ngModel)]="test">
</label> -->
  <label class="hours">
    <span>Hours a week</span>
    <input placeholder="40" type="number" [(ngModel)]="userDetails.hours">
  </label>
</div>
<div class="calc-btn">
  <button (click)="calculate()" [disabled]="!userDetails.monthly || !userDetails.expenses || !userDetails.hours || !userDetails.price">Calculate</button>
</div>
